<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">add employee</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/view">view employee <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="/search/:pincode">search<span class="sr-only">(current)</span></a>
                            </li>
                  </ul>
                </div>
              </nav>
    <div class="container">
        <div class="row">
                
            <div class="col">
                    <table class="table">
                            <thead>
                              <tr>
                                
                                <th scope="col">Name</th>
                                <th scope="col">Addres</th>
                                <th scope="col">Description</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Image</th>                                
                                <th scope="col">Pincode</th>                                
                              </tr>
                            </thead>
                            <%for(var i=0;i<data.length;i++){%>
                            <tbody>
                              <tr>
                                <td><%=data[i].name1%></td>
                                <td><%=data[i].add1%></td>
                                <td>
                                  <%=data[i].des1%></td>
                                
                                <td><%=data[i].phone1%></td>
                                <td><%=data[i].rate1%></td>
                                <td><img src="<%=data[i].image1%>"></td>
                                <td><%=data[i].pincode1%></td>

                              </tr>
                </tbody>
                <%}%>
                    </table>
                
            </div>
        </div>
    </div>
</body>
</html>